---
import Layout from '@layouts/Layout.astro';
---

<Layout title="cjbt - Backend">
  <main class="flex flex-col items-center">
    <h2>back-end</h2>
    <p>
      node, expressjs, REST, aws lambda, api gateway, route53, postgres, postgis
    </p>
    <div class="pb-24"></div>
  </main>
</Layout>
