---
import Layout from '@layouts/Layout.astro';
import githubIcon from '../images/github-icon.svg';
import coursePolicyLarge from '../images/mywork/course-policy-large.png';
---

<Layout title="cjbt - CoursePolicy.AI">
  <main class="flex flex-col items-center">
    <div
      transition:name="project-title"
      class="grid grid-flow-col gap-4 items-baseline"
    >
      <h2><a href="https://coursepolicy.ai"> coursepolicy.ai</a></h2>
      <a href="https://github.com/coursepolicy"
        ><img src={githubIcon.src} alt="course policy small image" /></a
      >
    </div>

    <p>an editable ai course policy generator for university professors</p>

    <p class="m-0">
      <span class="underline">full-end</span> - nextjs, node.js, typescript, aws
      platform
    </p>
    <p class="m-0">
      <span class="underline">front-end</span> - react query, tiptap editor, sst
      - aws cloudfront, aws s3
    </p>
    <p>
      <span class="underline">back-end</span> - aws lambda, serverless, middy,
      rds postgres
    </p>
    <div
      class="aspect-[4.2/1] w-[95%] sm:w-[50%] flex flex-col items-center justify-center"
    >
      <img src={coursePolicyLarge.src} alt="course policy small image" />
    </div>
    <div class="pb-24"></div>
  </main>
</Layout>
