---
import Layout from '@layouts/Layout.astro';
---

<Layout title="cjbt - Frontend">
  <main class="flex flex-col items-center">
    <h2>front-end</h2>
    <p class="m-0">
      html, css, and vanilla.js, react, next.js, solid.js, astro.js
    </p>
    <p>redux, react query, hooks, class components, web components</p>
    <div class="pb-24"></div>
  </main>
</Layout>
