---
import Layout from '@layouts/Layout.astro';
import coursePolicySmall from '../images/mywork/course-policy-small.png';
---

<Layout title="cjbt - Main">
  <main>
    <section>
      <blockquote class="twitter-tweet"><p lang="en" dir="ltr">If anyone is wondering what happened, I changed my x/twitter handle a while ago, but did not apply that change to my website and github. Someone created an account under my previous handle. <a href="https://t.co/zCmbIkJmmD">https://t.co/zCmbIkJmmD</a></p>&mdash; cj (@cjbt_) <a href="https://twitter.com/cjbt_/status/1924851346672599190?ref_src=twsrc%5Etfw">May 20, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>
    <div class="pt-24"></div>
    <a href="/coursepolicy">
      <section
        class="grid grid-cols-1 gap-10 sm:gap-1 sm:grid-cols-[repeat(auto-fit,minmax(33%,1fr))] md:justify-center items-center justify-items-center"
      >
        <article
          class="grid grid-flow-row items-center gap-4 sm:max-w-[315px] sm:mx-0 mx-[10px] overflow-hidden"
        >
          <div class="relative h-[75px] w-[315px]">
            <img
              class="absolute inset-0 h-full w-full object-cover object-center"
              src={coursePolicySmall.src}
              alt="course policy small image"
            />
          </div>
          <div>
            <p class="m-0" transition:name="project-title">coursepolicy.ai</p>
            <p class="m-0">full-stack - nextjs, aws platform</p>
          </div>
        </article>
      </section>
    </a>
    <div class="pb-24"></div>
  </main>
</Layout>
