---
import Layout from '@layouts/Layout.astro';
---

<Layout title="cjbt - Main">
  <h2>My work</h2>
  <section>
    <h3>
      <a class="text-blue-500 hover:underline" href="https://coursepolicy.ai"
        >coursepolicy.ai</a
      >
    </h3>
  </section>
</Layout>
