---
import Layout from '@layouts/Layout.astro';
---

<Layout title="cjbt - Main">
  <h2>My work</h2>
  <section class="flex items-center">
    <h3>
      <a class="text-blue-500 hover:underline" href="https://coursepolicy.ai"
        >coursepolicy.ai</a
      >
    </h3>
    <a class="ml-[10px] mt-[10px]" href="https://github.com/cjbt">
      <img src="/socials/github-icon.svg" alt="link to my github" />
    </a>
  </section>
</Layout>
