---
import Layout from "@layouts/Layout.astro";
---

<Layout title="cjbt - Main">
  <h4>this static site was made with:</h4>
  <ul>
    <li>astro</li>
    <li>typescript</li>
  </ul>
  <h4>and deployed with:</h4>
  <ul>
    <li>vercel</li>
  </ul>
  <a href="https://github.com/cjbt/cjtantay.com">repo</a>
</Layout>
