<header>
  <h1><a class="text-blue-500 hover:underline" href="/">C. J. Tantay</a></h1>
  <section>
    <p>
      I'm a software engineer based in Las Vegas with 4 years of experience in AWS distributed systems. I work across the stack, proficient in JavaScript and skilled in React on the frontend. I'm up to date with newer technologies like Astro, SolidJS, and Next.js. On the backend, I've extensively worked with microservices and have experience deploying with tools like Serverless and Terraform. Always committed to learning and growing.
    </p>
  </section>
  <section>
    <p>
      prev <a class="text-blue-500 hover:underline" href="https://www.hotelengine.com/"
      >hotel engine</a
    >,
      <a class="text-blue-500 hover:underline" href="https://www.latimes.com/">los angeles times</a>
    </p>
  </section>

  <section>
    <p>
      <a class="text-blue-500 hover:underline" href="https://github.com/cjbt">github</a>,
      <a class="text-blue-500 hover:underline" href="https://www.linkedin.com/in/cjtantay">linkedin</a>,
      <a class="text-blue-500 hover:underline" href="https://twitter.com/cjtantay">twitter</a>
    </p>
  </section>
  <section>
    <nav>
      <p>
        my stack -
        <a class="text-blue-500 hover:underline" href="/frontend">frontend</a>,
        <a class="text-blue-500 hover:underline" href="/backend">backend</a>,
        <a class="text-blue-500 hover:underline" href="/">my work</a>
      </p>
    </nav>
  </section>
</header>
