<header class="grid grid-flow-row justify-center">
  <h1 class="text-center">
    <a href="/"> C. J. Tantay</a>
  </h1>
  <section class="text-center">
    <p>
      Software engineer - currently building
      <a href="https://coursepolicy.ai"> coursepolicy.ai</a>,
    </p>
    <p>
      prev -
      <a href="https://www.hotelengine.com/">hotel engine</a>,
      <a href="https://www.latimes.com/">los angeles times</a>
    </p>
  </section>

  <section class="text-center">
    <p class="text-center">
      my links -
      <a href="https://github.com/cjbt">github</a>,
      <a href="https://www.linkedin.com/in/cjtantay">linkedin</a>,
      <a href="https://twitter.com/cjbt_">twitter</a>
    </p>
  </section>
  <section class="text-center">
    <nav>
      <p>
        my stack -
        <a href="/frontend">frontend</a>,
        <a href="/backend">backend</a>,
        <a href="/">my work</a>
      </p>
    </nav>
  </section>
</header>
