<header class="grid grid-flow-row justify-center">
  <h1 class="text-center">
    <a href="/"> C. J. Tantay</a>
  </h1>
  <section class="text-center">
    <p>
      Software engineer at 
      <a href="https://www.latimes.com/"> latimes.com</a>,
    </p>
    <p>
      prev -
      <a href="https://coursepolicy.ai"> coursepolicy.ai</a>,
      <a href="https://www.hotelengine.com/">hotel engine</a>
    </p>
  </section>

  <section class="text-center">
    <p class="text-center">
      my links -
      <a href="https://github.com/cjbt">github</a>,
      <a href="https://www.linkedin.com/in/cjtantay">linkedin</a>,
      <a href="https://twitter.com/cjbt_">twitter</a>
    </p>
  </section>
  <section class="text-center">
    <nav>
      <p>
        my stack -
        <a href="/frontend">frontend</a>,
        <a href="/backend">backend</a>,
        <a href="/">my work</a>
      </p>
    </nav>
  </section>
  <section>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">If anyone is wondering what happened, I changed my x/twitter handle a while ago, but did not apply that change to my website and github. Someone created an account under my previous handle. <a href="https://t.co/zCmbIkJmmD">https://t.co/zCmbIkJmmD</a></p>&mdash; cj (@cjbt_) <a href="https://twitter.com/cjbt_/status/1924851346672599190?ref_src=twsrc%5Etfw">May 20, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <h2>CoursePolicyAI is not affiliated with any cyrptocurrencies</h2>
  </section>
</header>
